
{% extends 'base.html' %}

{% block content %}
    <!-- Sign In Window begins here -->

    <div class="main">
        <div class="auth-section">
            <div class="section section1">
                <img src="https://res.cloudinary.com/doy34nvkz/image/upload/v1727946110/auth-img_dnif51.jpg">
            </div>
            {% if tag == 'nf' %}
                <div class="section section2">
                    <div class="section section2 new-section" style="justify-content:center; align-items:center;">
                        <div class="auth-header">
                            <div id="head1" style="color: #1e85f0">
                                Incorrect Link ❌
                            </div>
                        </div>
                    </div>
                </div>
                {% elif tag == 'pc' %}
                <div class="section section2">
                    <div class="section section2 new-section" style="justify-content:center; align-items:center;">
                        <div class="auth-header">
                            <div id="head1" style="color: #1e85f0">
                                Password Changed ✅
                            </div>
                        </div>
                    </div>
                </div>
                    {% else %}
                <div class="section section2">
                    <div class="auth-header">
                        <div id="head1">
                            Change Password&nbsp;<span style="color: #1e85f0;">!</span>
                        </div>
                        <div id="head2">
                           Don't worry! You'll be back 
                        </div>

                        {% if tag == 'dm' %}
                        <div class="head2 msg-box">❌ Passwords don't match</div>
                        {% endif %}
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="auth-main">
    
                            <input type="password" name='psw' class="input-box" placeholder="Enter New Password">
                            <input type="password" name='cpsw' class="input-box" placeholder="Confirm Password">
    
                        </div>
                        <div style="margin: 1.2rem 0rem">
                            <button type='submit' style="border:none; outline:none;" class="auth-button">
                            <div>Change Password&nbsp;&nbsp;<i class="fa-solid fa-key"></i>
                            </div>
                            </button>
                            <div class="account-create">
                            Already have an account?&nbsp;&nbsp;<span class="pass-text"><a href="/sign-in/" style="text-decoration:none; color:black;">Login Now</a></span>
                            </div>
                        </div>
                    </form>
                </div>
                    {% endif %}
            
            
        </div>
    </div>

    <!-- Sign In Window ends here -->

{% endblock %}