
{% extends 'base.html' %}

{% block content %}
    <!-- Sign In Window begins here -->

    <div class="main">
        <div class="auth-section">
            <div class="section section1">
                <img src="https://res.cloudinary.com/doy34nvkz/image/upload/v1727946110/auth-img_dnif51.jpg">
            </div>
            <div class="section section2">
                <div class="auth-header">
                    <div id="head1">
                        Welcome back&nbsp;<span style="color: #1e85f0;">!</span>
                    </div>
                    <div id="head2">
                        Hoping everything's fine!
                    </div>
                    {% if message == 'new' %}

                    {% elif message == 'nf' %}
                    
                    <div class="head2 msg-box">Account Not Found</div>

                    {% elif message == 'pc' %}
                    
                    <div class="head2 msg-box">✅ Password Changed Successfully!</div>
                    
                    {% elif message == 'nv' %}
                    <div class="head2 msg-box">Email Not Verified</div>
                    <div class='head2' style="margin: 1rem 0rem"><li class="navbar-list-item" style="text-decoration:underline;"><a class="navbar-list-item"href="/verify-email/">Resend Verification Email?</a></li></div>
                    
                    {% else %}
                    
                    <div class="head2 msg-box">Invalid Credentials</div>
                    {% endif %}
                </div>
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="auth-main">
                        
                        <select class="input-box" name="role" required>
                            <option selected disabled>- Register as -</option>
                            {% for value, label in roles %}
                            <option value="{{value}}">{{label}}</option>
                            {% endfor %}
                        </select>
                        <input type="email" name='email' class="input-box" placeholder="Email">
                        <div class="pass">
                            <input type="password" name="psw" class="input-box" placeholder="Password">
                            <div class="forget-pass" style="display: flex; flex-direction: row; justify-content: flex-end; ">
                                <span class="pass-text"> <a style="text-decoration: none;font-size: 1rem;" class="navbar-list-item" href="/forgot-password/">Forgot Password?</a></span>
                            </div>
                        </div>

                    </div>
                    <div style="margin: 1.2rem 0rem">
                        <button type='submit' style="border:none; outline:none;" class="auth-button">
                        <div>Checkup Now&nbsp;&nbsp;<i class="fa-solid fa-user-plus checkup-btn"></i>
                        </div>
                        </button>
                        <div class="account-create">
                        Don't have an account?&nbsp;&nbsp;<span class="pass-text"><a href="/register/" style="text-decoration:none; color:black;">Register</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Sign In Window ends here -->

{% endblock %}