{% extends 'base.html' %}

{% block content %}

<div class="about-section">
    <div class="about-head">Who we are&nbsp;<span style="color: #1e85f0;">?</span></div>
    <div class="about-detail">
    It was all began in 2021, when Patients were worried during the Covid Period and there were hardly any doctors available. Those who were available, were unable to reach the needy patients. Dr. Saheb began with a vision of helping the Patients across the Nation to reach the Doctors instantly! The Company has a remarkable 3+ years of Service in the field of Health Care. Now we are expanding ourselves to promise a greater Service by providing Medicines, Health Insurances for Future and much more. We promise a Happy and Prosperous life with us! <br>Stay Safe and Stay Happy🌿
    </div>
</div>

{% endblock %}