
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr.Saheb! -OneStop ⚕️ Medical Destination</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/mystyle2.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/loading.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/auth.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/Doctor.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/Bookings.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/department.css" %}">
    
    <script src="https://kit.fontawesome.com/32f5caa6d4.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- <div class="modal-container">
        <div class="modal">
            We have updated our UI<br>We wish you'll love this!
        </div>
    </div> -->

    
    {% comment %} ---------------- Loading Screen --------------- {% endcomment %}


    <div id="loading-screen">
        <div class="loading-text">Dr<span style="color: #1e85f0;">.</span>Saheb<span style="color: #1e85f0;">!</span></div>
        <img width="200px" src="{% static "images/66.gif" %}">
    </div> 
    

    <div class="firstClass">
        <header class="header">
            <div class="logo">Dr<span style="color: #1e85f0;">.</span>Saheb<span style="color: #1e85f0;">!</span></div>
            <nav class="navbar">
                <div class="navbar-elements">
                    <ul class="navbar-list">
                        <li class="navbar-list-item"><a class="navbar-list-item" style="text-decoration: none" href="/">Home</a></li>
                        <li class="navbar-list-item"><a style="text-decoration: none" class="navbar-list-item" href="/who-we-are/">Who we are?</a></li>
                        <li class="navbar-list-item"><a style="text-decoration: none" class="navbar-list-item" href="/departments/">Departments</a></li>
                        <a href="/blogs/" style="color:black; text-decoration: none;"><li class="navbar-list-item">Posts</li></a>
                        
                        {% if request.user.is_authenticated %}
                        <a href="/my-bookings/" style="color:black; text-decoration: none;"><li class="navbar-list-item">MyBookings</li></a>
                        <a href="/profile/" style="color:black; text-decoration: none;"><li class="navbar-list-item" style="font-weight: 600;">Hey, {{request.user.first_name}}</li></a>
                        <li class="navbar-list-item"><a style="text-decoration: none" class="navbar-list-item" href="/logout/"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                        {% else %}
                        <li class="navbar-list-item"><a style="text-decoration: none" class="navbar-list-item" href="/sign-in/"><i class="fa-solid fa-user"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="navbar-mobile-btn">
                <ion-icon name="menu-outline" class="navbar-mobile-icon"></ion-icon>
                <ion-icon name="close-outline" class="navbar-mobile-icon"></ion-icon>
            </div>
        </header>
    </div>

    <div class="notification">
        Get upto 10% Off on Ordering Medicines through our Site!
    </div>


    {% comment %} Navbar Ends here {% endcomment %}
    {% block content %}

    {% endblock %}

    <!-- Script Tags -->
    <div class="last-div">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f7" fill-opacity="1" d="M0,96L120,117.3C240,139,480,181,720,181.3C960,181,1200,139,1320,117.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
        <footer class="footer">
            <div class="social-media">
                <i class="fa-solid fa-envelope fa-2x social-icon"></i>
                <span class="social-icon" name="pipe" style="font-size: 1.5rem;">|</span>
                <i class="fa-brands fa-square-facebook fa-2x social-icon"></i>
                <i class="fa-brands fa-linkedin fa-2x social-icon"></i>
                <i class="fa-brands fa-square-x-twitter fa-2x social-icon"></i>
            </div>
            <div class="copyright">
                Copyright &copy; 2024
            </div>
        </footer>
    </div>



    <script src="https://kit.fontawesome.com/32f5caa6d4.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static "js/index.js" %}"></script>
</body>

</html>