{% extends 'base.html' %}

{% block content %}

    <!-- Start Of Main -->
    <container class="container">
        <section class="hero-section">
            <section class="content-section main-head">Yes
                <span style="color: #1e85f0;">,&nbsp;</span>We Care<span style="color: #1e85f0;">!</span>
            </section>
            <section class="content-section" style="height: 70%; flex-direction: column; gap: 20px;">
                <div class="wrapper">

                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>

                </div>
                <div class="news-letter-heading">
                    Get Daily Blog Updates, Health Tips and Much more!
                </div>
                <div class="news-letter">
                    <input type="text" placeholder="Subscribe to our Newsletter" class="input-text">
                    <ion-icon name="send" class="send-button"></ion-icon>
                </div>
            </section>
        </section>
    </container>




    <container class="container">
        <section class="service-section section-1">
            <div class="content-card">
                <div class="content-head head1">
                    Get <span style="color: #1e85f0;">Personalised</span> Care
                </div>
                <div class="content-lines">
                    With One-to-One Personalised Care, We deliver trust and Satisfaction to you. We have verified and
                    trusted doctors for a subscription of 1 Week at an affordable price. Get personalised mentorship to
                    stay healthy and fit!
                </div>
            </div>
            <div class="img-card"><img src="https://res.cloudinary.com/doy34nvkz/image/upload/v1727695008/doctor-patient_hnvaql.jpg"></div>
        </section>
    </container>





    <container class="container">
        <section class="service-section section-2">
            <div class="img-card"><img src="https://res.cloudinary.com/doy34nvkz/image/upload/v1727695012/stethoscope_mmzgbo.jpg"></div>
            <div class="content-card">
                <div class="content-head head2" style="text-align: right;">
                    Get <span style="color: #1e85f0;">Instant</span> Checkup
                </div>
                <div class="content-lines">
                    With our developed Machine Learning Algorithms, get Instant checkup done, before its too late!
                    However we deliver doctor's service at much faster rate, but Instant Checkup can provide you instant
                    relief! Try this!
                </div>
            </div>
        </section>
    </container>





    <container class="container review-container" style="flex-direction: column;">
        <div class="review-head">
            Our <span style="color: #1e85f0;">Customer</span> Reviews
        </div>
        <div class="review-section">
            <div class="card">
                <div class="review">
                    Amazing Platform! I got proper mentorship from the Doctor for a month and now I am completely free
                    from my Heart Disease. Thankyou so much!
                </div>
                <div class="writer">
                    Sarthak Vishwakarma<br><span>Patient</span>
                </div>
            </div>
            <div class="card">
                <div class="review">
                    All in one! Totally outstanding! I spent around three months on this platform and gave me the best prescription for my lung disease.
                </div>
                <div class="writer">
                    Harsh Keshari<br><span>Patient</span>
                </div>
            </div>
            <div class="card">
                <div class="review">
                    A friend of mine recommended me this and now I am totally satisfied from the treatment! I had urine
                    infection and now I am totally cured!
                </div>
                <div class="writer">
                    Niraj Kumar<br><span>Patient</span>
                </div>
            </div>
        </div>
    </container>

{% endblock %}